<h2>Admin_Panel</h2>

<div class="pull-right">
  <%= link_to("Add a job", new_admin_job_path, :class => "btn btn-primary") %>
</div>

<table class="table table-hover">
  <tr>
    <th>Job Title</th>
    <th>Action</th>
    <th>Resume</th>
    <th>Created_at</th>
  </tr>
  <% @jobs.each do |job| %>
  <tr>
      <td>
        <%= job_status(job) %>
        <%= link_to job.title, admin_job_path(job) %>
      </td>
      <td><%= link_to("Edit", edit_admin_job_path(job), :class => "btn btn-xs btn-warning") %> |
          <%= link_to("Destroy", admin_job_path(job), method: :delete , :class => "btn btn-xs btn-danger")%> |
          <% if job.is_hidden? %>
            <%= link_to("Public", public_admin_job_path(job), method: :post, :class => "btn btn-xs btn-default") %>
          <% else %>
            <%= link_to("Hidden", hide_admin_job_path(job), method: :post, :class => "btn btn-xs btn-default") %>
          <% end %>
      </td>
      <td><%= job.resumes.count %></td>
      <td><%= job.created_at %></td>
  </tr>
  <% end %>
</table>
